<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Home Page</title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="/css/jumbotron-narrow.css" />
    <link rel="stylesheet" type="text/css" href="/css/home.css" />
    <link rel="stylesheet" type="text/css" href="/css/jquery.growl.css" />
    <script src="http://code.jquery.com/jquery.js" />
    <script src="/js/jquery.growl.js" type="text/javascript" />
</head>
<body>
    <div class="container">
        <div class="header clearfix">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li class="active" id="home"><a href="#">Home</a></li>
                    <li id="logout"><a href="#">Logout</a></li>
                </ul>
            </nav>
        </div>
        <div class="jumbotron">
            <h3>Please complete your profile before continue !</h3>
        </div>
        <form class="form-horizontal" action="#" th:action="@{/profile}" th:object="${profile}" method="post">
            <div class="form-group">
                <label for="inputFirstName" class="col-sm-2 control-label">Email</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="inputFirstName" placeholder="First Name" />
                </div>
            </div>
            <div class="form-group">
                <label for="inputFamilyName" class="col-sm-2 control-label">Password</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="inputFamilyName" placeholder="Family Name" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-default">Update</button>
                </div>
            </div>
        </form>
        <footer class="footer">
            <p> &copy; 2017 Profile PoC</p>
        </footer>

    </div>
</body>
</html>